<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form action="/login" method="post">
  <label for="username">username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="password">password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">로그인</button>
</form>
<p>회원이 아니신가요? <a href="/signup">회원가입</a></p>
</body>
</html>


